@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Shrikhand&display=swap');

.hd1{
    text-align: center;
    font-family:'Josefin Sans', sans-serif ;
    color: beige;
    font-size:38px;
    margin-top: 25px;
}
#l1{
    background: rgba(27, 24, 18, 0.7);
    margin-top: 140px;
    width: 400px;
}

@media(max-width:410px){
    #l1{
       width:250px;
    }
    .hd1{
        font-size: 30px;
    }
}